# build output
dist/
.output/

# deps
node_modules/

# astro
.astro/

# env
.env
.env.production
.env.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
Thumbs.db

# netlify
.netlify/
